@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@mixin globalStyles() {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

@mixin sectionConfig() {
    width: 100%;
    padding: 110px 7% 90px;
    @media (max-width: 1300px) {
        padding: 90px 2% 80px;
    }
}